.story {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 130px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}

.story__avatar {
  margin: 10px;
  border: 3px solid var(--fb-blue);
}
.story > p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: 500;
}